/* Defining everything with variables lets you change a value once and it'll
   take effect over the entire sheet. Enjoy! */
:root {
  /* Color scheme. */
  --peach: #e86662;
  --dark-peach: #ab3f58;
  --maroon: #550c14;
  --blood: #77232a;
  --purple: #342153;
  --blue-purple: #5a0f66;
  --blue-purple-alt: #57124e;
  --dark-purple: #3a0617;
  --white: #ffffff;
  --blood-glass: #8d4334aa;
  --faded-white-glass: #eedefdd9;
  --orange-glass: #d77b2633;
  --orange-glass-less: #d77b2699;
  --yellow-glass: #edeff280;
  --purple-glass: #372358ba;

  /* Standard quantities. */
  --radius: 20px;
  --radius-slight: 12px;
  --radius-slighter: 5px;
  --shadow: 0px 4px 4px 0px #00000040;

  /* Standard spacing. */
  --pad-teeny: 2px;
  --pad-weeny: 4px;
  --pad-tiny: 8px;
  --pad-small: 16px;
  --pad-medium: 32px;
  --pad-big: 48px;

  /* Standard font sizes and weights. */
  --font-slight: 18px;
  --font-medium: 20px;
  --font-big: 24px;
  --font-huge: 32px;
  --font-heavy: 700;
  --font-heavier: 800;

  /* Standard qualities. */
  --font-main: "K2D";

  /* Gradient. */
  --bg-gradient-A: #342153;
  --bg-gradient-B: #d77b26;
}

body {
  margin: 0;
  height: 100%;

  /* Defaults. */
  font-family: var(--font-main);
  color: var(--white);

  /* Fallback, gradient only. */
  background: linear-gradient(
      to bottom,
      var(--bg-gradient-A) 0%,
      var(--bg-gradient-B) 100%
    )
    fixed no-repeat;

  /* Graphic + gradient. */
  background: url("/static/png/hmix-bg-300.png") fixed right bottom no-repeat,
    linear-gradient(
        to bottom,
        var(--bg-gradient-A) 0%,
        var(--bg-gradient-B) 100%
      )
      fixed no-repeat;

  &.no-graphic {
    background: linear-gradient(
        to bottom,
        var(--bg-gradient-A) 0%,
        var(--bg-gradient-B) 100%
      )
      fixed no-repeat;
  }

  /* &.radial {
    @Alisson, this is where you'd put the code for the radial gradient. -Shawn
  } */
}

.main {
  margin: var(--pad-big) auto;
  width: 75%;
  .header {
    margin-bottom: var(--pad-small);
    color: var(--faded-white-glass);
    text-align: center;
    background: var(--purple);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    & * {
      padding: var(--pad-small) 0;
    }
  }
}

.main {
  margin: var(--pad-big) auto;
  width: 75%;
  .banner {
    width: 100%;
    color: var(--faded-white-glass);
    text-align: center;
    background: var(--purple);
    border-radius: var(--radius);
    margin-bottom: var(--pad-small);
    box-shadow: var(--shadow);
    * {
      padding: var(--pad-small) 0;
    }
  }
}

.window {
  margin-bottom: var(--pad-small);
  background: var(--orange-glass);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  .titlebar {
    padding: var(--pad-tiny) 1em;
    color: var(--faded-white-glass);
    text-align: center;
    background: var(--purple);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }
  .titlebar.plain {
    background: #0000;
    box-shadow: none;
  }
  .titlebar * {
    margin: 0;
  }
  .article {
    padding: var(--pad-tiny) var(--pad-medium);
  }
}

input {
  padding: var(--pad-tiny) 1em;
  color: var(--white);
  font-size: var(--font-big);
  font-weight: var(--font-heavy);
  background: var(--yellow-glass);
  border: none;
  border-radius: var(--radius-slight);
  &::placeholder {
    opacity: 1;
    color: var(--white);
  }
}

input[type="submit"] {
  padding: var(--pad-tiny) 1em;
  color: var(--faded-white-glass);
  font-size: var(--font-big);
  font-weight: var(--font-heavy);
  background: var(--orange-glass-less);
  border: none;
  border-radius: var(--radius-slight);
  box-shadow: var(--shadow);
}

/* Absolutely center something both vertically and horizontally. */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* For two column setups. */
.row {
  display: flex;
}
.column {
  flex: 50%;
  &.left {
    margin-right: var(--pad-small);
  }
}

/* Styling for the red "rounded-row" tables. */
.rounded-table {
  width: 100%;
  color: var(--faded-white-glass);
  background: var(--blood-glass);
  border-spacing: 0;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  &.no-color {
    background: #0000;
    box-shadow: none;
  }
  tbody {
    &:first-child th {
      padding: var(--pad-weeny);
      font-size: var(--font-slight);
      background: var(--maroon);
    }
    tr {
      th:first-child,
      td:first-child {
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
      }
      th:last-child,
      td:last-child {
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
      td {
        background: var(--blood);
        font-size: var(--font-medium);
        text-align: center;
      }
    }
  }
  .table-spacer {
    height: var(--pad-teeny);
  }
}

/* Login and Registration */

#login-form,
#registration-form {
  padding-bottom: var(--pad-small);
  background: var(--orange-glass);
  border-radius: var(--radius);
}

/* End Login and Registration */

/* Home Page */

#countdown {
  text-align: center;
}

#announcements,
#logs {
  padding-bottom: var(--pad-tiny);
  .announcement,
  .log {
    margin: var(--pad-tiny);
    padding: var(--pad-teeny) var(--pad-small);
    background: var(--purple-glass);
    border-radius: var(--radius);
  }
}

/* End Home Page */

/* Prizes */

#balance {
  margin-top: var(--pad-medium);
  text-align: right;
  color: var(--faded-white-glass);
  #points {
    padding: 0 2em;
  }
}

#prizes td {
  padding: var(--pad-tiny) 0;
  .claim {
    padding: var(--pad-tiny) var(--pad-small);
    margin: var(--pad-small) 0;
    color: var(--faded-white-glass);
    font-size: var(--font-medium);
    text-align: center;
    background: var(--blue-purple);
    border: none;
    border-radius: var(--radius);
    &:hover {
      cursor: pointer;
    }
  }
}

/* End Prizes */

/* Schedule */

#calendar {
  margin-bottom: var(--pad-small);
  .day {
    width: 128px;
    margin-right: var(--pad-small);
    display: inline-block;
    color: var(--faded-white-glass);
    background: var(--blue-purple-alt);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    .header {
      padding: var(--pad-weeny) var(--pad-small) var(--pad-tiny)
        var(--pad-small);
      font-size: var(--font-medium);
      font-weight: var(--font-heavier);
      background: var(--dark-purple);
      border-radius: var(--radius);
    }
    .number {
      padding-bottom: var(--pad-small);
      text-align: center;
      font-size: var(--font-big);
      font-weight: var(--font-heavier);
    }
    &.today {
      background: var(--dark-peach);
      .header {
        background: var(--peach);
        box-shadow: none;
      }
    }
  }
}

#schedule {
  .map img {
    padding: var(--pad-small) 0;
    max-width: 200px;
  }
  .info,
  .description {
    padding-top: var(--pad-small);
    vertical-align: top;
    p {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: var(--pad-small);
      text-align: left;
    }
    .time {
      padding: var(--pad-tiny) var(--pad-small);
      background: var(--maroon);
      border-radius: var(--radius);
    }
  }
}

/* End Schedule */

/* Punch Card */

#punches {
  width: 90%;
  margin: 0 auto;
  padding-top: var(--pad-medium);
  font-size: var(--font-huge);
  border-spacing: 0px 10px;
  tr {
    margin: var(--pad-small);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }
  td {
    padding: var(--pad-small);
    background: var(--orange-glass-less);
    &:not(:first-child):not(:last-child) {
      width: 48px;
    }
  }
  .title {
    padding-left: var(--pad-big);
    text-align: left;
    font-size: var(--font-big);
    font-weight: var(--font-heavier);
  }
  .punch {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    &.true {
      background: var(--purple);
    }
    &.false {
      background: var(--faded-white-glass);
    }
  }
  .spacer {
    width: var(--pad-weeny);
  }
}

/* End Punch Card */

/* Profile */

#profile-points {
  font-size: var(--font-huge);
  font-weight: var(--font-heavier);
}

/* End Profile */

/* Navbar */

#navbar {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  align-items: center;
  width: 100%;
  height: 70px;
  background: var(--purple);
  box-shadow: var(--shadow);
  .link {
    font-size: 1rem;
    background: var(--orange-glass);
    padding: var(--pad-tiny) var(--pad-small);
    border-radius: var(--radius-slighter);
    box-shadow: var(--shadow);
    &:first-child {
      margin-left: var(--pad-medium);
    }
    a,
    a:visited {
      color: var(--white);
      text-decoration: none;
    }
  }
  #profile {
    margin-left: auto;
    margin-right: var(--pad-medium);
    img {
      padding-top: var(--pad-weeny);
      height: var(--pad-medium);
    }
  }
}

/* End Navbar */

/* Viewports */

@media screen and (min-width: 300px) and (max-width: 880px) {
  body {
    background: linear-gradient(
        to bottom,
        var(--bg-gradient-A) 0%,
        var(--bg-gradient-B) 100%
      )
      fixed no-repeat;
    overflow-x: hidden;
  }

  .main {
    width: 90%;
  }

  .row {
    display: block;
    .left {
      margin-right: 0;
    }
  }

  /* Navbar */

  #navbar {
    gap: 0.7em;
    .link {
      font-size: smaller;
      margin-left: 0;
      padding: 0.7em;
    }
  }

  /* End Navbar */
}

/* Start Live Stream */

.stream-and-chat-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid black;
  width: 100%;
  height: 70vh;
}

.stream {
  width: 75%;
  height: 100%;
}

.chat {
  width: 25%;
  height: 100%;
}

/* End Viewports */
