<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/schedule.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}">
    <title>Schedule</title>
</head>
<body class="background">
    <div class="container-parent">
        <div class="container-child">
            <h1 class="title">HackMerced IX Schedule</h1>
        <div class="map-container">
            <!-- Placeholder for Google map -->
            <img src="static/images/disney map.png" alt="Placeholder Map" width="400" height="300">
            <div id="map"></div>
        </div>
            <table class="table-parent" border="1">
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
                <!-- Friday -->
                <tr class="day-separator">
                    <td colspan="2"> <b>Friday</td></b>
                </tr>
                <tr>
                    <td>5:00 PM - 6:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>6:00 PM - 7:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>7:00 PM - 9:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <!-- Saturday -->
                <tr class="day-separator">
                    <td colspan="2"><b>Saturday</b></td>
                </tr>
                <tr>
                    <td>9:00 AM - 10:00 AM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>10:00 AM - 12:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>12:00 PM - 1:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>1:00 PM - 3:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>3:00 PM - 4:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>4:00 PM - 6:00 PM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <!-- Sunday -->
                <tr class="day-separator">
                    <td colspan="2"><b>Sunday</b></td>
                </tr>
                <tr>
                    <td>12:00 AM - 2:00 AM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>2:00 AM - 5:00 AM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>5:00 AM - 6:00 AM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>6:00 AM - 8:00 AM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>8:00 AM - 9:00 AM</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>9:00 AM - 10:00 AM</td>
                    <td>Lorem Ipsum</td>
                </tr>
            </table>
        </div>
    </div>
</body>


</html>