<!DOCTYPE html>
<html>

{% set pageTitle = "Prizes" %}{% include "includes/header.html" %}

<body class="no-graphic radial">

	{% include "includes/navbar.html" %}

	<div class="main">

		<div class="banner">
				<h1>Prizes</h1>
		</div>

		<div class="article">
			<p id="balance">Your Points: <span id="points">999</span></p>
			<table id="prizes" class="rounded-table">
				<!-- TODO nuke everything inside tbody before pushing to prod. -->
				<tbody id="prizes-content">
					<tr>
						<th>Prize</th>
						<th>Description</th>
						<th>Cost</th>
						<th>Qty</th>
						<th></th>
					</tr>
					<tr class="table-spacer"></tr>
					<tr>
						<td>Sticker Pack</td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>50 Points</td>
						<td>10/30</td>
						<td><button class="claim">Claim</button></td>
					</tr>
					<tr class="table-spacer"></tr>
					<tr>
						<td>Sticker Pack</td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>50 Points</td>
						<td>29/30</td>
						<td><button class="claim">Claim</button></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<script src="/static/js-user/jquery-3.6.0.min.js"></script>
	<script src="/static/js-user/common.js"></script>
	<script src="/static/js-user/app/events.js"></script>
	<script src="/static/js-user/app/refresh.js"></script>
	<script>
		function refresh()
		{
			update_user_info();
		}
		function refresh_loop()
		{
			refresh();
			setTimeout(refresh_loop, 5000);
		}
		refresh_loop();
	</script>

</body>

</html>
