<header id="navbar">
	<div class="link">
		<a href="/app">Home</a>
	</div>
	<div class="link">
		<a href="/live">Live Stream</a>
	</div>
	<div class="link">
		<a href="/prizes">Prizes</a>
	</div>
	<div class="link">
		<a href="/schedule">Schedule</a>
	</div>
	<div class="link">
		<a href="/punches">Punch Card</a>
	</div>
	<div id="profile">
		<a href="/profile">
			<img src="/static/png/profile.png" />
		</a>
	</div>

	<div id="hidden-menu">
		<label class="hamburger-menu">
			<input type="checkbox">
		</label>	
		<aside class="sidebar">
			
			<nav>
			<div class="hidden-link">
				<a href="/app">Home</a>
			</div>
			<div class="hidden-link">
				<a href="/live">Live Stream</a>
			</div>
			<div class="hidden-link">
				<a href="/prizes">Prizes</a>
			</div>
			<div class="hidden-link">
				<a href="/schedule">Schedule</a>
			</div>
			<div class="hidden-link">
				<a href="/punches">Punch Card</a>
			</div>
			</nav>
			
		</aside>
	</div>
</header>
