<!DOCTYPE html>
<html>

{% set pageTitle = "HackMerced IX" %}{% include "includes/header.html" %}

<body class="no-graphic">

	<div id="login-form" class="window absolute-center">

		<center>
			
			<img src="{{ url_for('static', filename='png/hmix-bg-300.png') }}" alt="HackMerced IX" style="width: 70%;">
			
			<h1>User Login</h1>

			<form action="/login" method="POST">
				<input type="text" id="code" name="code" placeholder="Badge Code" />
				<br><br>
				<input type="submit" value="Log In" />
			</form>

		</center>

	</div>

</body>

</html>
