<!DOCTYPE html>
<html>

{% set pageTitle = "HackMerced IX" %}{% include "includes/header.html" %}

<body>

	{% include "includes/navbar.html" %}

	<center>
		<div class="main-container">
			<div class="main-banner">
					<h1>HackMerced IX Prizes</h1>
			</div>
			<div>
				<p id="prizes-points-balance">Your Points: <span id="points">999</span></p>
				<table id="prizes" class="rounded-table">
					<tbody>
						<tr>
							<th>Prize</th>
							<th>Description</th>
							<th>Cost</th>
							<th>Qty</th>
							<th></th>
						</tr>
						<tr class="table-spacer"></tr>
						<tr>
							<td>Sticker Pack</td>
							<td>Lorem ipsum dolor sit amet.</td>
							<td>50 Points</td>
							<td>10/30</td>
							<td><button class="prize-claim">Claim</button></td>
						</tr>
						<tr class="table-spacer"></tr>
						<tr>
							<td>Sticker Pack</td>
							<td>Lorem ipsum dolor sit amet.</td>
							<td>50 Points</td>
							<td>29/30</td>
							<td><button class="prize-claim">Claim</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</center>

</body>

</html>
