<!DOCTYPE html>
<html>

{% set pageTitle = "HackMerced IX" %}{% include "includes/header.html" %}

<body>

	{% include "includes/navbar.html" %}

	<center>
		<div class="main-container">
			<div class="main-banner">
					<h1>HackMerced IX Prizes</h1>
			</div>
			<div id="punch-container">
				<table id="punches">
					<tr>
						<td class="punch-title">Breakfast</td>
						<td class="punch"><img src="/static/png/punch-false" /></td>
						<td class="punch"><img src="/static/png/punch-true" /></td>
						<td class="punch"><img src="/static/png/punch-true" /></td>
					</tr>
					<tr>
						<td class="punch-title">Lunch</td>
						<td class="punch"><img src="/static/png/punch-false" /></td>
						<td class="punch"><img src="/static/png/punch-true" /></td>
						<td class="punch"><img src="/static/png/punch-true" /></td>
					</tr>
					<tr>
						<td class="punch-title">Dinner</td>
						<td class="punch"><img src="/static/png/punch-false" /></td>
						<td class="punch"><img src="/static/png/punch-true" /></td>
						<td class="punch"><img src="/static/png/punch-true" /></td>
					</tr>
				</table>
				<p>Your card is automatically punched when you scan at a punch station.</p>
			</div>
		</div>
	</center>

</body>

</html>
