<!DOCTYPE html>
<html>

{% set pageTitle = "HackMerced IX" %}{% include "includes/header.html" %}

<body class="no-graphic">

	{% include "includes/navbar.html" %}

	<div class="main">

		<div class="banner">
				<h1>HackMerced IX Punch Card</h1>
		</div>

		<div class="article">
			<div class="window">
				<table id="punches" class="rounded-table no-color">
					<tr>
						<td class="title">Breakfast</td>
						<td class="punch"><img src="/static/png/punch-false.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="spacer"></td>
					</tr>
					<tr>
						<td class="title">Lunch</td>
						<td class="punch"><img src="/static/png/punch-false.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="spacer"></td>
					</tr>
					<tr>
						<td class="title">Dinner</td>
						<td class="punch"><img src="/static/png/punch-false.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="spacer"></td>
					</tr>
				</table>
				<center>
					<p>Your card is automatically punched when you scan at a punch station.</p>
				</center>
				<br>
			</div>
		</div>

	</div>

</body>

</html>
