<!DOCTYPE html>
<html>

{% set pageTitle = "HackMerced IX" %}{% include "includes/header.html" %}

<body>

	{% include "includes/navbar.html" %}

	<center>
		<div class="main-container">
			<div class="main-banner">
					<h1>HackMerced IX Punch Card</h1>
			</div>
			<div id="punch-container">
				<table id="punches">
					<tr>
						<td class="punch-title punch-rounded-start">Breakfast</td>
						<td class="punch"><img src="/static/png/punch-false.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch-spacer punch-rounded-end"></td>
					</tr>
					<tr>
						<td class="punch-title punch-rounded-start">Lunch</td>
						<td class="punch"><img src="/static/png/punch-false.png" /></td>
						<td class="punch"><img src="/static/png/punch-false.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch-spacer punch-rounded-end"></td>
					</tr>
					<tr>
						<td class="punch-title punch-rounded-start">Dinner</td>
						<td class="punch"><img src="/static/png/punch-false.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch"><img src="/static/png/punch-true.png" /></td>
						<td class="punch-spacer punch-rounded-end"></td>
					</tr>
				</table>
				<p>Your card is automatically punched when you scan at a punch station.</p>
			</div>
		</div>
	</center>

</body>

</html>
