<!DOCTYPE html>
<html>

{% set pageTitle = "HackMerced IX" %}{% include "includes/header.html" %}

<body>

	{% include "includes/navbar.html" %}

	<center>
		<div class="main-container">
			<div class="main-banner">
					<h1>HackMerced IX Schedule</h1>
			</div>
			<div id="schedule-days">
				<div class="schedule-day today">
					<div class="day-header">Today</div>
					<div class="day-number">9th</div>
				</div>
				<div class="schedule-day">
					<div class="day-header">Saturday</div>
					<div class="day-number">10th</div>
				</div>
				<div class="schedule-day">
					<div class="day-header">Sunday</div>
					<div class="day-number">11th</div>
				</div>
			</div>
			<div id="schedule-container">
				<table id="schedule" class="rounded-table">
					<tbody>
						<tr>
							<th colspan=3>Event Showings</th>
						</tr>
						<tr class="table-spacer"></tr>
						<tr>
							<td class="schedule-map-preview">
								<img src="/static/png/map-default.png" /></td>
							<td class="schedule-info">
								<p>Event Name</p>
								<p>Event Room</p>
							</td>
							<td class="schedule-description">
								<p>Lorem ipsum dolor sit amet.</p>
								<br>
								<p><span class="schedule-time">9 pm</span></p>
							</td>
						</tr>
						<tr class="table-spacer"></tr>
						<tr>
							<td class="schedule-map-preview">
								<img src="/static/png/map-default.png" /></td>
							<td class="schedule-info">
								<p>Event Name</p>
								<p>Event Room</p>
							</td>
							<td class="schedule-description">
								<p>Lorem ipsum dolor sit amet.</p>
								<br>
								<p><span class="schedule-time">9 pm</span></p>
							</td>
						</tr>
					</table>
				</table>
			</div>
		</div>
	</center>

</body>

</html>
